<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>

<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-4"><%= title %></h1>
            <p class="lead"><%= text%></p>
            <a href="<%= link %>" class=" mt-3">
                <img src="/images/cahtbot.png" alt="imagen de bot" class="img-fluid" height="150px" width="150px">
            </a>
        </div>
    </div>

</body>

</html>