<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Operador</title>
  <link rel="stylesheet" href="/stylesheets/style.css"> <!-- Asegúrate de tener el CSS adecuado -->
</head>

<body>
  <div class="container py-5">
    <h1 class="text-center mb-4">Panel de Operador</h1>

    <div class="container">
      <!-- Lista de clientes en espera -->
      <div class="container my-4">
        <div class="card shadow"></div>
          <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Clientes en Espera</h5>
        <small>Selecciona un cliente para comenzar la conversación</small>
          </div>
          <ul id="clientList" class="list-group list-group-flush">
          </ul>
        </div>
      </div>

      <!-- Conversación con el cliente -->
      <div class="container my-4">
        <div class="card shadow">
          <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Chat</h5>
          </div>
          <div class="card-body p-3" id="chatMessages" style="height: 300px; overflow-y: auto;">
       
          </div>
          <div class="card-footer">
            
            <div class="input-group">
              <input id="messageInput" type="text" class="form-control me-2" placeholder="Escribe tu mensaje..."
                aria-label="Escribe tu mensaje..." onkeydown="if(event.key === 'Enter') sendMessage()" required />
              <button type="button" class="btn btn-primary" onclick="sendMessage()">Enviar</button>
            </div>
            <button class="btn btn-danger mt-3" onclick="closeConversation()">Cerrar Conversación</button>
            <!-- Escondido: ID del cliente seleccionado -->
            <input type="hidden" id="selectedClientId">
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- Vinculamos el JS de Bootstrap 5.3.3 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/operator.js"></script>
</body>

</html>