<title>Iniciar Sesión</title>
<body class="bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-header text-center">
            <h1>Iniciar Sesión</h1>
          </div>
          <div class="card-body">
            <% if (error.length !== 0) { %>
            <div class="alert alert-danger" role="alert"><%= error %></div>
            <% } %>
            <form method="POST" action="/usuarios/login">
              <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña:</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary w-100">
                Iniciar Sesión
              </button>
            </form>
            <div class="text-center mt-3">
              <p>
                ¿No estás registrado?
                <a href="/usuarios/registro">Regístrate</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
