
<body>
    <h1>Perfil de Usuario</h1>
    
    <p>Nombre: <%= usuario.nombre %></p>
    <p>Apellido: <%= usuario.apellido %></p>
    <p>Email: <%= usuario.email %></p>  
    <p>Rol: <%= usuario.rol %></p>

    <a href="/usuarios/logout">Cerrar Sesión</a>
</body>
</html>
