<!-- 
<body>
    <h1>Perfil de Usuario</h1>
    
    <p>Nombre: <%= usuario.nombre %></p>
    <p>Apellido: <%= usuario.apellido %></p>
    <p>Email: <%= usuario.email %></p>  
    <p>Rol: <%= usuario.rol %></p>

    <a href="/usuarios/logout">Cerrar Sesión</a>
</body>
</html> -->
doctype html
html
    head
        title Perfil de Usuario
    body
        h1 Perfil de Usuario
        
        p Nombre: #{usuario.nombre}
        p Apellido: #{usuario.apellido}
        p Email: #{usuario.email}
        p Rol: #{usuario.rol}

        a(href="/usuarios/logout") Cerrar Sesión