<title>Listado de Categoías</title>
<body>
    <div class="container">
        <h1>Listado de Categorías</h1>
        <% if (categorias.length > 0) { %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <% if(usuario.rol==='Admin'){ %>
                        <th>Acciones</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% categorias.forEach(function(categoria) { %>
                        <tr>
                            <td><%= categoria.nombre %></td>
                            <td><%= categoria.descripcion %></td>
                            <% if(usuario.rol==='Admin'){ %>
                            <td>
                                <a href="/categorias/editar/<%= categoria.id %>" class="btn btn-warning">Editar</a>
                                <form action="/categorias/eliminar/<%= categoria.id %>" method="POST" >
                                    <button type="submit" class="btn btn-danger">Borrar</button>
                                </form>
                            </td>
                            <% } %>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } else { %>
            <p>No hay categorías disponibles.</p>
        <% } %>
    </div>
    <% if(usuario.rol==='Admin'){ %>
    <div>
        <a href="/categorias/crear" class="btn btn-primary">Agregar Categoría</a>
    </div>
    <% } %>
</body>