<title>Agregar Nuevo Producto</title>

<h2>Agregar Nuevo Producto</h2>
<form action="/producto/crear" method="POST">
  <input type="text" name="nombre" placeholder="Nombre del Producto" required />
  <input type="number" name="precio" placeholder="Precio" required />
  <input type="text" name="descripcion" placeholder="Descripción" />

  <select name="categoria" required>
    <option value="">Selecciona una categoría</option>
    <% if (categorias && categorias.length > 0) { %> <%
    categorias.forEach(categoria => { %>
    <option value="<%= categoria._id %>"><%= categoria.nombre %></option>
    <% }); %> <% } else { %>
    <option value="">No hay categorías disponibles</option>
    <% } %>
  </select>
  <button type="submit">Agregar Producto</button>
</form>
